@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="color: whitesmoke;">
    <h1 class="display-4">Welcome to BookHooked</h1>
    <p>The place to share your love for books and connect with likeminds.</p>
</div>
